
# This file provides an overview of code owners in this repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the this repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @a-thaler @PK85 @pbochynski @kwiatekus

/.github/ISSUE_TEMPLATE @NHingerl @grego952 @mmitoraj @IwonaLanger @nataliasitko
/.github @kyma-project/prow
/alertmanager @kyma-project/observability
/cloudsql-proxy @strekm @werdes72 @barchw @videlov @triffer
/common @kyma-project/prow
/configmap-reload @kyma-project/observability
/docker-registry @cortey @dbadura @m00g3n @pprecel
/fluent-bit @kyma-project/observability
/grafana @kyma-project/observability
/k8s-tools @kyma-project/prow
/kaniko-executer @pprecel @cortey @dbadura @m00g3n
/kiwigrid-sidecar @kyma-project/observability
/loki @skhalash @kyma-project/observability
/oauth2-proxy @kyma-project/observability
/prometheus-node-exporter @kyma-project/observability
/kube-state-metrics @kyma-project/observability
/otel-collector @kyma-project/observability

# All .md files
*.md @NHingerl @mmitoraj @grego952 @IwonaLanger @nataliasitko
